.page-container {
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    bottom: 0px;
    position: absolute;
    background-color: coral;

}

.page-header {
    width: 100%;
    background-color: red;
}

.first-place {
    display:flex;
    background-color: cornflowerblue;
    width: 50%;
}

.second-place {
    display:flex;
    background-color: rgb(184, 194, 53);
    width: 50%;
}

.third-place {
    display:flex;
    background-color: rgb(48, 218, 48);
    width: 50%;
}

.first-medal {
    scale: 0.5;
    align-self: right;
    margin:0;
}

.second-medal {
    scale: 0.5;
}

.third-medal {
    scale: 0.5;
}

/* .first-place {
    grid-area: first-place;
    background-color: red;
    display: flex;
    justify-content: left;
    align-items: center;
}

.second-place {
    grid-area: second-place;
    background-color: blue;
    display: flex;
    justify-content: left;
    align-items: center;
}

.third-place {
    grid-area: third-place;
    background-color: green;
    display: flex;
    justify-content: left;
    align-items: center;
}

.player-profile {}

.first-place .player-profile {
    transform: scale(0.5);
}

.second-place .player-profile {
    transform: scale(0.5);
}

.third-place .player-profile {
    transform: scale(0.5);
}

.page-footer {
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: red;
} */

