.player-card {
  display: flex;
  padding: 16px;
  background-color: #e6e6ff;
  border-radius: 8px;
  border: 2px solid #845EC2;
  color: #551a8b;
}

.player-place {
  margin-right: 16px;
  font-size: 20px;
  align-self: center;
}

.player-profile {
  height: 50px;
  width: 50px;
}

.player-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}

.player-name {
  margin-bottom: 8px;
  font-size: 18px;
}

.player-points {
  margin-left: 150px;
  font-size: 18px;
}