.player-card {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: blueviolet;
  }
  
  .player-place {
    margin-right: 16px;
  }
  
  .player-details {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    align-items: center;
  }
  
  .player-name {
    margin-bottom: 8px;
  }
  
  .player-points {
   margin-left: 16px;
  }