.player-picture {
    border: 10px solid #6E8AA8;
    width: 200px;
    height: 200px;
    
    border-radius: 20px;
  }
  
  .player-name {
    margin-top: 10px;
    justify-content: center;
  } 

 .player-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
  
