.ratings-page-container {
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    "container-header container-header container-header container-header"
    "image-container image-container rating-container rating-container"
    "container-footer container-footer container-footer container-footer";
}
.container-header {
  grid-area: container-header;
}
.image-container {
  grid-area: image-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rounds {
  text-align: center;
  margin-bottom: 5px;
}

.slider {
  flex: 1;
  display: flex;

}

.current-index {
  margin-top: 5px;
}

.index-text {
justify-content: center;
align-items: center;
}

.rating-container {
  grid-area: rating-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-footer {
  grid-area: container-footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

