.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  flex-direction: column;
  margin: 0;
}

.home-page {
  /* width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 128, 21);
  flex-direction: column; */
}

.roomButtons {
  margin:auto;
}

#userInfoHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  margin:auto;
}

#userInfoInnerHolder{ 
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  }

#UserName {
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
  color: #000;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 100px;
}

.logo-container {
  margin-bottom: 100px;
  margin:auto;

} 

.logo-image {
  max-width: 600px;
  max-height: 600px;
}

.input {
  width: 50%;
} 

.ant-modal .ant-modal-content {
  background-color: #282c34;
  color: white;
}

.ant-modal-title {
  background-color: #282c34;
  color: white !important;
}

.anticon-close {
  color: white;
}

#userImgInput {
  width: 100%;
  margin: 20px auto;
}

Input#userImgInput {
  width: 100%;
  margin: 20px auto;
}

