
.login{
    /* background-image: url('./../Asstes/bg.png'); */
    background-size: 100% 100%;
    background: mediumorchid;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.loginfo{
    background-color: rgba(253, 254, 254 , 0.7);
    width: 600px;
    height: 300px;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}
.button_sb{
    width: 250px;
    height: 48px;
    font-size: 24px;
    /* background: linear-gradient(45deg,transparent 5%, #00ff00 5%); */
    background:springgreen;
    border: 0;
    color: #000;
    letter-spacing: 3px;
    line-height: 24px;
    /* box-shadow: 6px 0px 0px #0066ff; */
    outline: transparent;
    margin: auto;
}
.horizontal_login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.loginForm{
    width: 60%;

}

input.loginForm{
    width: 100%;
}

label.loginForm {
    margin-left: 0px;
    margin-right: 10px;
}