
.lobby-page-container {
  top:0;
  left:0;
  right:0;
  bottom:0;
  transform: translate(0, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}

.room-code{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top:200px;
}

.room-code img{
  padding-top: 25px;
  margin-left: 5px;
  width: 25px;
  height:25px;
  cursor: pointer;
}

.room-code img:hover{
  transform: scale(1.2);
}
.room-code h3 {
  margin-right: 5px;
}
